
//- Prepared form for model: `#model#`, action: `#action#`\n'
//- @revision #revision#\n'
//- @parser_version #parser_version#\n'
//- @generated #iso#\n'

mixin form_#action#()
	#action#= #action# || {}
	#action#.errors=#action#.errors || {}
	#action#.val =#action#.val || {}

